server {
    listen 80;
    server_name acmesite.com;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location /api/ {
        proxy_pass http://${API_UPSTREAM_HOST}:7900/;
        proxy_set_header Host $host;
    }
}
