apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
stringData:
  DB_HOST: terraform-20251213184131660000000004.c850k6g6gpxo.us-east-1.rds.amazonaws.com
  DB_USER: postgres
  DB_PASSWORD: AZ2FVLPgQ#zaw%%yeq!J%1LwOq?wh6e5
  DB_NAME: postgres

